<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gooutbraga">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoOutBraga">
        <activity
            android:name=".ui.UsarCupaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ReclamarCupaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CriarCupaoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VerPerfilProprietarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PerfilUserEAlterarDadosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VerComentariosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AvaliarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProcurarRestauranteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RestauranteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MenuProprietarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MenuUserActivity"
            android:exported="false"
            android:label="@string/title_activity_menu_user"
            android:theme="@style/Theme.GoOutBraga.NoActionBar" />
        <activity
            android:name=".ui.RegisterProprietarioActivity"
            android:exported="false"
            android:label="@string/title_activity_register_proprietario"
            android:theme="@style/Theme.GoOutBraga.NoActionBar" />
        <activity
            android:name=".ui.RegisterUserActivity"
            android:exported="false"
            android:label="@string/title_activity_register_user"
            android:theme="@style/Theme.GoOutBraga.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>